.search-bar-menu {
  margin-top: 200px;
}

.input-group-lg > .form-control {
  border: solid;
}

.input-group-prepend img {
  top: 6px;
  left: 68px;
}

.form-control:focus {
  border-color: #e6bbc7;
  box-shadow: none;
}

.search-area {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: row;
}

.search-results .rows {
  display: flex;
  max-height: 300px;
}

.search-results {
  background-color: #e6bbc7;
  border: solid;
}

.search-bar-menu .search-bar {
  width: 75%;
}

.search-button-network {
  color: white;
  background-color: #d32f43;
  padding: 7px;
  border-radius: 25px;
}
@media screen and  (min-width: 768px) {
  .search-bar-menu .search-bar {
    width: 100%;
  }
}

.btn-secondary {
  /* background-color: #d32f43;  */
}

.btn {
  border-color: #e6bbc7;
}

.btn-secondary {
  background-color: #e6bbc7;
  border-color: #e6bbc7;
}