.search-bar-menu {
    margin-top: 200px;
    
}

 .input-group-lg>.form-control {

    border: solid;
}


.input-group-prepend img {
    top: 6px;
    left: 68px;
}

.form-control:focus {
    border-color: #e6bbc7;
    box-shadow: none;
}

.search-area  {
    display: flex;
    background-color: white;
}

.search-results .rows {
    display: flex;
    max-height: 300px;
}

.search-results  {
    background-color: #e6bbc7;
    border: solid;
}
